.article{
  display: flex;   
  height: 100vh;
  align-items: center;
  background-color: white;
  justify-content: center;
}

.article--blue{
  background-color: #0078D7;
}

.article--grey{
  background-color: #555;
}

.article__container{
  max-width: 900px;
  margin: 2rem;
}

.article__topico{
  color: #555;
  font-size: 3rem;
  font-weight: 600; 
  padding: 2rem;
  margin-top: -10vh;
}

.article__titulo {   
  color: #555;
  font-size: 4rem;
  font-weight: 600;  
  padding: 1rem;  
}

.article__paragrafo{ 
  font-size: 1.2rem;
  margin: 1rem;
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

.article--white{
  color: white;
}

.button{
  position: relative;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1.5px;
  border-radius: 3rem;
  padding: 0.4rem 1rem;
  transition: 0.2s; 
  margin: 2rem;
}

.button--grey{
  color: #555;
  border: .2rem solid #555;
}

.button--grey:hover{
  background-color: #555;
  color: white;
}

.button--white-grey{
  color: white;
  border: .2rem solid white;
}

.button--white-grey:hover{
  background-color: white;
  color: #555;  
}

.button--white-blue{
  color: white;
  border: .2rem solid white;
}

.button--white-blue:hover{
  background-color: white;
  color: #0078D7;  
}

/*Responsive*/

@media (max-width: 30em) {
  .article__topico{
    font-size: 2rem;
  }  
  .article__titulo {   
    font-size: 2.4rem;
  }

  .article__paragrafo{ 
    font-size: 1.2rem;
  }

  .button{
    font-size: 1.2rem;
    padding: 0.6rem 1rem;
    margin: 2rem;
  }
}